config ZMK_KEYBOARD_NAME
    default "Kontakt"




if SHIELD_KONTAKT_RIGHT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif




if SHIELD_KONTAKT_LEFT || SHIELD_KONTAKT_RIGHT

config ZMK_SPLIT
    default y

endif